/* #registerFormContainer{
    margin-top:25%;
} */

body{
    background-color: #FCF7ED;
}

#AltRegister button {
    margin: 10px;
    /* margin-top: 20px; */

}

.border {
    border-color: #471F3A !important;
}


